@media screen and (max-width: 1400px) {
  .grid{
      height: 800px;
      grid-template-columns: repeat(3, 320px);
      grid-row-gap: 0;
      margin: 0 10px;
    }

    .grid-item {
      height: 380px;
    }

    .grid-item img {
      width: 100%;
    }

    .pets .palm{
      /* width: 200px; */
      height: 250px;
    }
    .pets .strelitzia{
      width: 260px;
      height: 240px;
    }
}


@media screen and (max-width:1000px) {

    .container{
        height: 584px;
    }
    header{
      position: relative;
      z-index: 1;
    }

    main .watchfavorite{
        right: 85px;
        top: 122px;
      }

    main .watchfavorite h2{
        font-size: 85px;
    }

    main img{
        top: 69px;
        width: 367px;
        height: 367px;
        right: 177px;
    }

    main button {
        right: 137px;
        top: 483px;
    }


    /*backstage section starts*/
    .backstage{
    width: 940px;
    height: 427px;
    }
    .backstage .image{
        width: 455px;
        height: 408px;
    }
    .backstage .image img{
        width: 100%;
        height: 100%;
    }

    .backstage .text{
        width: calc(100% - 455px);
    }

    .backstage .flowerfoto{
        display: none;
    }




    /*pets container starts*/
    .pets{
        flex-direction: column;
    }
    .grid{
        height: 801px;
        grid-template-columns: repeat(3, 294px);
        grid-column-gap: 29px;
        grid-row-gap: 0;
        margin: 0 10px;
    }
    .pets .palm{
        height: 202px;
      }
      .pets .strelitzia{
        width: 241px;
        height: 180px;
      }



      /*feed section starts*/
      .feed > .pick_feed{
        width: 940px;
        height: 796px;
        background: rgba(253, 253, 255, 0.52);
        margin:  100px auto;
        padding: 30px 48px 50px 48px;
        position: relative;
      }
      .feed > .pick_feed > .feed-icons-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
      }

}


@media screen and (max-width: 320px) {
  nav ul, .logo2{
    display: none;
  }
  nav i{
    display: block;
  }
}