* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 1600px;
  margin: auto;
  position: relative;
}

.container {
  width: 100%;
  height: 780px;
  background: url("../images/panda.png") no-repeat;
  background-size: cover;
  position: relative;
}

/*starting header page*/
header {
  width: 100%;
  height: 80px;
  background-color: #000000;
}

header nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 29px;
}

nav ul li.logo1 {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0;
}

nav ul li.nav-first-li {
  padding-left: 50px;
  padding-right: 25px;
}

nav ul li a span {
  color: #f9804b;
}

nav ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

nav ul li a:hover {
  color: #f9804b;
}

nav h1 {
  font-size: 16px;
  width: 105px;
  height: 22px;
}

.logo2 {
  color: #fff;
  text-decoration: none;
  width: 105px;
  height: 22px;
}

nav i {
  color: #fff;
  /* visibility: hidden; */
  display: none !important;
}
nav i:hover {
  cursor: pointer;
}

/*starting main page*/

main {
  width: 100%;
}

main img {
  position: absolute;
  width: 465px;
  height: 465px;
  right: 328px;
  top: 92px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
main .watchfavorite {
  position: absolute;
  width: 500.31px;
  height: 400px;
  right: 220px;
  top: 166px;
}

main .watchfavorite h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .watchfavorite h2 span {
  color: yellow;
}

main button {
  position: absolute;
  width: 298px;
  height: 54px;
  right: 319px;
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  transition-duration: 1s;
}

main button:hover {
  cursor: pointer;
  background: #e0d8f0;
  color: #f9804b;
  font-size: 1.3em;
  box-shadow: 5px 10px #767474;
}

.container .menu{
  display: none;
}

/*starting backstage section*/

.backstage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1161px;
  height: 403px;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  margin-bottom: 200px;
}

.backstage > .image {
  width: 609px;
  height: 403px;
}
.backstage > .text {
  height: 100%;
  padding-left: 31px;
}

.backstage > .text > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 20px;
  padding-top: 0;
}

.backstage > .text > #sitefounded {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  margin-bottom: 40px;
}

.backstage > .text > #howwork {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 25px;
}

.backstage > .text > #maingoal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

.backstage .flowerfoto {
  position: absolute;
  right: 0;
}

/*starting pets section*/
.pets-container {
  width: 100%;
  min-height: 100vh;
}

.pets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 280px;
}

.pets i {
  font-size: 1.3em;
}

.grid {
  height: 872px;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 366px);
  margin: 0 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #fa6f32;
  font-size: 30px;
  text-align: center;
  height: 426px;
  border-radius: 5px;
  background-size: cover;
}

.grid-item:hover {
  cursor: pointer;
  box-shadow: 7px 10px #fe9013;
  border: 1px solid #767474;
  opacity: 0.6;
  border-radius: 5px;
  box-shadow: 5px 10px #767474;
}
.grid-item > .grid-item-info {
  text-align: left;
  padding-left: 15px;
}

.grid-item > .grid-item-info > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.grid-item > img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.grid-item #wherefrom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.pets .pets_button {
  width: 62px;
  height: 62px;
  background-color: #f9804b;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets .right:hover {
  cursor: pointer;
  box-shadow: 3px 3px #767474;
  opacity: 0.6;
  font-size: 1.1em;
}

.pets .left:hover {
  cursor: pointer;
  box-shadow: -3px 3px #767474;
  opacity: 0.6;
}

.pets button {
  position: absolute;
  bottom: 120px;
  width: 298px;
  height: 54px;
  background: #fe9013;
  border-radius: 25px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.pets button:hover {
  cursor: pointer;
  background: #e0d8f0;
  color: #f9804b;
  font-size: 1.3em;
  box-shadow: 5px 10px #767474;
}

.pets .pets-images {
  position: absolute;
  bottom: 0;
}

.pets .palm {
  left: 0;
}
.pets .strelitzia {
  right: 0;
}

/*starting pick and feed section*/
.feed {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed > .pick_feed {
  width: 1160px;
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  margin: 100px auto;
  padding: 20px 20px 20px 100px;
  position: relative;
}

.pick_feed > p > span > a {
  text-decoration: none;
  color: #333b41;
}

.feed > .pick_feed > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-bottom: 20px;
}
.feed > .pick_feed > h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 30px;
}
.feed > .pick_feed > .pick_time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #333b41;
  margin-bottom: 10px;
}
.feed > .pick_feed > .pick_help {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333b41;
  padding-right: 210px;
  margin-bottom: 70px;
}
.feed > .pick_feed > .pick_help > span {
  border-bottom: 2px solid #fe9013;
}
.feed > .pick_feed > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333b41;
  text-align: center;
  margin-bottom: 50px;
}

.feed > .pick_feed > img {
  border: 2px solid #fe9013;
}

.feed > .pick_feed > .feed-icons-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
}
.feed > .pick_feed > .feed-icons-section > .feed_icons {
  width: 168px;
  height: 244px;
}

.feed-icons-section > .feed_icons > div {
  width: 168px;
  height: 168px;
  border: 2px solid #fe9013;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.feed-icons-section > .feed_icons > img.vector {
  width: 69px;
  height: 35px;
  margin: 30px;
  position: absolute;
  top: 30px;
}

.feed-icons-section > .feed_icons > .feed-icon-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333b41;
}

.feed > .pick_feed > button {
  width: 298px;
  height: 54px;
  background: #fe9013;
  border-radius: 25px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  display: block;
  margin: auto;
}
.feed > .pick_feed > img.arrow {
  display: none !important;
}
.feed > .pick_feed > button:hover {
  cursor: pointer;
  background: #e0d8f0;
  color: #f9804b;
  font-size: 1.3em;
  box-shadow: 5px 10px #767474;
}

/*Testimonials sections starting*/
.testimonials {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 140px;
  position: relative;
  padding: 0;
  padding-bottom: 144px;
}

.testimonials > .testimonial-parent {
  width: 1160px;
  height: 575px;
  margin: auto;
  background-color: #fff;
  margin-top: 140px;
}

.testimonials > .testimonial-parent > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #333b41;
  margin-bottom: 50px;
}

.testimonials > .testimonial-parent > .testimonials-bars {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.testimonial-parent > .testimonials-bars > .testimonials-bar {
  width: 268px;
  height: 391px;
  border: 1px solid red;
  border-radius: 20px;
  padding: 13px;
  background: #f1f3f2;
}

.testimonials-bars > .testimonials-bar > .testimonial-header {
  display: inline-flex;
  width: 100%;
  margin-bottom: 8px;
}

.testimonials-bar > .testimonial-header > .testimonial-header-img {
  margin-right: 10px;
}

.testimonial-header-text > .testimonial-header-text-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.testimonials-bar > .testimonial-bar-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  text-align: justify;
}

.testimonial-header-text > .testimonial-header-text-location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.testimonials > .testimonial-parent > .testimonials-button {
  width: 600px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  border: 0.5px solid #fe9013;
  border-radius: 5px;
  position: relative;
  margin-bottom: 31px;
}
.testimonial-parent > .testimonials-button > button {
  width: 115px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 5px;
  background: #fe9013;
}
.testimonial-parent > .testimonials-button > button:hover {
  cursor: pointer;
}
.testimonial-parent > button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 5px;
  margin-left: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.testimonial-parent > button:hover {
  cursor: pointer;
  background: #e0d8f0;
  color: #f9804b;
  font-size: 1.3em;
  box-shadow: 5px 10px #767474;
}

.testimonials > img {
  position: absolute;
  right: 0;
  bottom: -80px;
}

/*footer section starting*/
footer {
  width: 100%;
  height: 443px;
  background-color: #000;
  padding-top: 35px;
  display: block;
}

footer > div.footer-top {
  width: 72.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.footer-top > a {
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0;
}

div.footer-top > .subscribe-submit > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 10px;
}

div.footer-top > .subscribe-submit > form > input {
  width: 228px;
  height: 42px;
  font-size: 16px;
  color: #bdbdbd;
  padding-left: 8px;
  background-color: #000;
  border: 1px solid #f9804b;
  border-radius: 3px;
}
div.footer-top > .subscribe-submit > form > button {
  width: 129px;
  height: 42px;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4b9200;
  margin-left: 3px;
}
div.footer-top > .subscribe-submit > form > button:hover {
  cursor: pointer;
  background: #fe9013;
  font-size: 1.2em;
  border: 2px solid #fff;
  box-shadow: 5px 10px #767474;
}

footer > .footer-bottom {
  width: 72.5%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  padding-top: 38px;
}

footer > .footer-bottom > .footer-donate > button {
  width: 298px;
  height: 54px;
  background-color: #f9804b;
  padding: 5px 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

.footer-bottom > .footer-donate > button > a {
  color: #fff;
}

footer > .footer-bottom > .footer-donate > ul > li {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 0;
}

footer > .footer-bottom > .footer-donate > ul > li > i {
  width: 26px;
  height: 26px;
  color: #fff;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

footer > .footer-bottom > .footer-donate > ul > li > i:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

footer > .footer-bottom > .footer-donate > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom > .footer-bottom-navbar {
  padding-top: 210px;
  padding-left: 25px;
}

.footer-bottom-navbar > ul > li {
  list-style-type: none;
  display: inline;
  padding: 10px 29px;
}

.footer-bottom-navbar > ul > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom-navbar > ul > li > a:hover {
  cursor: pointer;
  color: #fa6f32;
}

.footer-bottom-navbar > ul > li > a > span {
  color: #f9804b;
}

.footer-bottom > .footer-designedby {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
}
.footer-bottom > .footer-designedby > p,
a {
  padding: 5px 0;
  color: gray;
  text-decoration: none;
  font-size: 16px;
}
