@media screen and (min-width: 640px) and (max-width: 999px) {
  html,
  body {
    width: 640px;
    margin: auto;
  }

  .container {
    width: 640px;
    height: 373px;
    background: url("../images/Giant\ Panda.png") no-repeat;
    position: relative;
  }
  header {
    height: 34px;
  }
  header nav {
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }
  nav ul li.logo1 {
    width: 46.86px;
    height: 29.03px;
    border: none;
    padding: 0;
    line-height: 0;
  }
  nav ul li.logo1 a {
    font-size: 12.2899px;
    font-weight: 400;
    line-height: 120%;
  }
  header nav ul li.forNone {
    display: none;
  }
  header nav i {
    display: block;
    font-size: 1.3em;
  }
  header nav h1 {
    display: none;
  }
  header nav i {
    display: block !important;
    z-index: 1;
  }
  header nav i:hover {
    cursor: pointer;
  }

  main .watchfavorite {
    font-size: 54.2894px;
    width: 255.64px;
    height: 204.38px;
    top: 82.04px;
    right: 14.77px;
  }

  main .watchfavorite h2 {
    font-size: 54.2894px;
    text-align: center;
  }

  main img {
    width: 237px;
    height: 237px;
    right: 70.11px;
    top: 44.23px;
  }

  main button {
    left: 20.21px;
    top: 279px;
  }



  /*menu section*/
  .container > .menu{
    width: 80%;
    height: 285px;
    position: absolute;
    top: -100%;
    right: 0;
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    transition: all ease .5s;
  }
  .container > .showmenu{
    top: 0;
  }
  .container > .menu > ul{
    width: 100%;
  }
  .container > .menu > ul > li{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
  }
  .container > .menu > ul > li > a{
    font-size: 2rem;
    color: #fff;
  }
  .container > .menu > ul > li > a span{
    color: #fa6f32;
  }
  .container > .menu > ul > li > a:hover{
    cursor: pointer;
    color: #fa6f32;
  }




  .backstage {
    width: 495px;
    height: 367px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .backstage div.image {
    display: none;
  }
  .backstage div.text {
    width: 100%;
    height: 100%;
    padding-left: 0;
  }
  .backstage div.text h2 {
    font-size: 48px;
  }
  .backstage div.text h3 {
    font-size: 16px;
  }
  .backstage div.text p#howwork {
    font-size: 24px;
  }
  .backstage div.text p#maingoal {
    font-size: 16px;
  }
  .backstage .flowerfoto {
    height: 476px;
  }

  .grid {
    height: 760px;
    grid-template-columns: repeat(4, 285px);
    overflow: hidden;
    width: 95%;
    margin: auto;
  }
  .grid-item {
    height: 332px;
    border: 1px solid #fa6f32;
  }
  .grid-item > img {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  .pets .pets_button {
    display: none;
  }
  .grid-item > .grid-item-info > h3 {
    font-size: 12.4695px;
  }
  .grid-item > .grid-item-info > p {
    font-size: 11.6901px;
  }
  .pets .palm {
    height: 202px;
  }
  .pets .strelitzia {
    height: 131px;
  }

  .feed {
    margin: 0;
    width: 640px;
    height: 781px;
    padding: 20px 0;
  }
  .feed > .pick_feed {
    width: 640px;
    height: 741px;
    border-radius: 10px;
    padding: 0;
    padding: 0 20px;
    padding-top: 50px;
  }
  .feed > .pick_feed > h2 {
    font-size: 42px;
  }
  .feed > .pick_feed > h3 {
    margin-bottom: 20px;
  }
  .feed > .pick_feed > h5 {
    font-size: 22px;
  }
  .feed > .pick_feed > .pick_help {
    padding: 0;
    margin-bottom: 30px;
  }
  .feed > .pick_feed > .feed-icons-section {
    width: 95%;
    margin-bottom: 40px;
  }
  .feed > .pick_feed > .feed-icons-section > img.vector {
    display: none;
  }

  .feed > .pick_feed > .feed-icons-section > .feed_icons {
    width: 168px;
    height: 244px;
  }

  .feed > .pick_feed > img.arrow {
    position: absolute;
    display: block !important;
    border: none;
  }
  .feed > .pick_feed > img.arrow1 {
    top: 365px;
    left: 165px;
  }
  .feed > .pick_feed > img.arrow2 {
    top: 365px;
    left: 365px;
  }

  .testimonials {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .testimonials > .testimonial-parent {
    width: 95%;
    height: 540px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .testimonials > .testimonial-parent > h2 {
    margin-bottom: 30px;
  }
  .testimonials > .testimonial-parent > .testimonials-bars {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .testimonial-parent > .testimonials-bars > .testimonials-bar {
    width: 600px;
    height: 109px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .testimonials-bars > .testimonials-bar > .testimonial-header {
    margin-bottom: 10px;
  }
  .testimonials-bar > .testimonial-bar-info {
    line-height: 120%;
  }

  .testimonial-parent > .testimonials-bars > .last {
    display: none;
  }
  .testimonials > .testimonial-parent > .testimonials-button {
    display: none;
  }
  .testimonial-parent > button {
    margin: auto;
    margin-top: 40px;
  }
  .testimonials > img {
    bottom: -70px;
    height: 180px;
  }

  footer {
    width: 100%;
    height: 282px;
    position: relative;
    padding: 0;
  }
  footer > div.footer-top {
    width: 100%;
    padding: 13px 20px;
  }
  div.footer-top > .subscribe-submit {
    display: none;
  }

  footer > .footer-bottom {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 12px;
    padding-left: 20px;
    display: flex;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 5px;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer a {
    display: none;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer > li > i {
    margin-bottom: 10px;
  }
  .footer-bottom > .footer-bottom-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 12px;
  }
  .footer-bottom-navbar > ul {
    padding: 0;
  }
  .footer-bottom-navbar > ul > li {
    padding: 0;
    margin-right: 37px;
  }
  .footer-bottom-navbar > ul > li > a {
    text-align: left;
  }
  .footer-bottom-navbar > ul > li > a > span {
    color: #fff;
  }

  .footer-bottom > .footer-designedby {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 12px;
    margin-right: 20px;
    padding-left: 0;
  }
}
