@media screen and (max-width:100px) {
    div.donation-section-container {
        width: 100%;
        height: 1333px;
    }

    .donation-section{
        width: 862px;
        margin: auto;
      }
    
}