*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 470px;
}

/*starting header page*/
header{
  width: 100%;
  height: 80px;
  background-color: #000000;
}

header nav{
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 8% 80% 12%;
  padding: 0 220px;
}

.logo1{
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0;
}

nav ul{
  margin-right: 550px;
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 29px;
}

nav ul li.nav-first-li{
  padding-left: 50px;
  padding-right: 25px;
}

nav ul li a span{
  color: #F9804B;
}

nav ul li a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

nav ul li a:hover{
  color: #F9804B;
}

nav h1{
  font-size: 16px;
  width: 105px;
  height: 22px;
}

.logo2{
  color: #fff;
  text-decoration: none;
  width: 105px;
  height: 22px;
}


header > .donate-panda{
    width: 100%;
    height: 390px;
    background: url("../../assets/images/panda_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/*starting main donate section*/

div.donate-panda {
    width: 100%;
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}