* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 1600px;
  margin: auto;
  position: relative;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 470px; 
}

/*starting header page*/
header {
  width: 100%;
  height: 80px;
  background-color: #000000;
}

header nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav img{
  display: none !important;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 29px;
}

nav ul li.logo1 {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0;
}

nav ul li.nav-first-li {
  padding-left: 50px;
  padding-right: 25px;
}

nav ul li a span {
  color: #f9804b;
}

nav ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

nav ul li a:hover {
  color: #f9804b;
}

nav h1 {
  font-size: 16px;
  width: 105px;
  height: 22px;
}

.logo2 {
  color: #fff;
  text-decoration: none;
  width: 105px;
  height: 22px;
}

header > .donate-panda {
  width: 100%;
  height: 390px;
  background: url("../../assets/images/panda_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*starting main donate section*/

div.donation-section-container {
  width: 100%;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.donation-section {
  width: 1160px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 180px;
}
.donation-section > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.donation-section > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 40px;
}

.donation-section > h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 60px;
}

.donation-section > .donation-amount {
  width: 100%;
  height: 964px;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 62px 92px;
}

.donation-section > .donation-amount > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-bottom: 20px;
}

.donation-section > .donation-amount > .weKnow {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.donation-amount > .donation-amount-panda {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.donation-amount-panda > .diet-panda {
  text-align: center;
  margin-right: 11px;
  padding-top: 50px;
}

.donation-amount-panda > .diet-panda > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.donation-amount-panda > .diet-panda > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
  margin-top: 11px;
}
.donation-amount-panda > .ex {
  color: #000;
  width: 14px;
  height: 14px;
  margin-right: 64px;
}

.donation-amount-panda > .panda {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donation-amount > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

/*progress bar*/
.donation-amount > .progressbar {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  position: relative;
  margin-bottom: 12px;
}

.progressbar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: calc(100% - 52px);
  background: #72828e;
}

.progressbar > .progress-step {
  width: 10px;
  height: 10px;
  background: #ffee2e;
  border-radius: 50%;
  z-index: 1;
}

.progressbar > .progress-step:hover {
  cursor: pointer;
  background-color: #fa6f32;
}

.donation-amount > .donation-amount-money {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.donation-amount > .donation-amount-money > .donation-money {
  width: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
  text-align: center;
}

.donation-amount > .donation-amount-money > .donation-money > span {
  color: #fe9013;
}

.donation-payment-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.donation-payment-container > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.donation-payment-container > form > input[type="number"] {
  width: 268px;
  height: 54px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #929699;
  padding: 16px 9px;
  margin-bottom: 25px;
  border-radius: 2px;
}

/* Chrome, Safari, Edge, Opera */
.donation-payment-container > form > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.donation-payment-container > form > input[type="number"] {
  -moz-appearance: textfield;
  border: none;
  background-color: rgba(255, 255, 255, 0.52);
}

.donation-payment-container > form > div.radios {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 31px;
}

.donation-payment-container > form > button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.donation-payment-container > form > button:hover {
  cursor: pointer;
  background: #e0d8f0;
  color: #f9804b;
  font-size: 1.3em;
  box-shadow: 5px 10px #767474;
}

.donation-amount > p.donation-share {
  width: 100%;
  height: 22px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

/*footer section starting*/
footer {
  width: 100%;
  height: 443px;
  background-color: #000;
  padding-top: 35px;
}

footer > div.footer-top {
  width: 72.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.footer-top > a {
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  text-align: center;
  padding: 3px 0;
}

div.footer-top > .subscribe-submit > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 10px;
}

div.footer-top > .subscribe-submit > form > input {
  width: 228px;
  height: 42px;
  font-size: 16px;
  color: #bdbdbd;
  padding-left: 8px;
  background-color: #000;
  border: 0.7px solid #f9804b;
  border-radius: 3px;
}
div.footer-top > .subscribe-submit > form > input:focus {
  border: none;
  border: 0.7px solid #4B9200;
}
div.footer-top > .subscribe-submit > form > input:focus +  .emailSubmit{
  color: #4B9200;
  outline: none;
}
div.footer-top > .subscribe-submit > form > button {
  width: 129px;
  height: 42px;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  margin-left: 3px;
}
div.footer-top > .subscribe-submit > form > button:hover {
  cursor: pointer;
  background: #fe9013;
  font-size: 1.2em;
  border: 2px solid #fff;
  box-shadow: 5px 10px #767474;
}

footer > .footer-bottom {
  width: 72.5%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding-top: 38px;
}

footer > .footer-bottom > .footer-donate > button {
  width: 298px;
  height: 54px;
  background-color: #f9804b;
  padding: 5px 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

.footer-bottom > .footer-donate > button > a {
  color: #fff;
}

footer > .footer-bottom > .footer-donate > ul > li {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 0;
}

footer > .footer-bottom > .footer-donate > ul > li > i {
  width: 26px;
  height: 26px;
  color: #fff;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

footer > .footer-bottom > .footer-donate > ul > li > i:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

footer > .footer-bottom > .footer-donate > ul > li > a {
  color: #fff;
  text-decoration: none;
}

footer > .footer-bottom > .footer-donate > ul > li > a:hover {
  color: #fa6f32;
}

.footer-bottom > .footer-bottom-navbar {
  padding-top: 210px;
  padding-left: 25px;
}

.footer-bottom-navbar > ul > li {
  list-style-type: none;
  display: inline;
  padding: 10px 27px;
}

.footer-bottom-navbar > ul > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom-navbar > ul > li > a:hover {
  cursor: pointer;
  color: #fa6f32;
}

.footer-bottom > .footer-designedby {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 12px;
  font-size: 16px;
}
.footer-bottom > .footer-designedby > p,
a {
  padding: 5px 0;
  color: gray;
  text-decoration: none;
}
