@media screen and (min-width: 640px) and (max-width: 999px) {
  html,
  body {
    width: 640px;
    margin: auto;
  }

  .container { 
    width: 640px;
    height: 369px;
  }
  header {
    height: 34px;
  }
  header > .donate-panda {
    width: 100%;
    height: 335px;
    background: url("../../assets/images/panda_bg_640.png") no-repeat;
  }
  header nav {
    height: 100%;
    width: 94%;
    margin: auto;
    justify-content: space-between;
  }
  nav ul li.logo1 {
    width: 46.86px;
    height: 29.03px;
    border: none;
    padding: 0;
    line-height: 0;
  }
  nav ul li.logo1 a {
    font-size: 12.2899px;
    font-weight: 400;
    line-height: 120%;
  }
  header nav ul li.forNone {
    display: none;
  }
  header nav i {
    display: block !important;
    font-size: 1.3em;
    color: #fff;
  }
  header nav i:hover {
    cursor: pointer;
  }
  header nav h1 {
    display: none;
  }


  
  /*menu section*/
  .container > .menu{
    width: 80%;
    height: 285px;
    position: absolute;
    top: -100%;
    right: 0;
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    transition: all .5s;
  }
  .container > .showmenu{
    top: 0;
  }
  .container > .menu > ul{
    width: 100%;
  }
  .container > .menu > ul > li{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
  }
  .container > .menu > ul > li > a{
    font-size: 2rem;
    color: #fff;
  }
  .container > .menu > ul > li > a span{
    color: #fa6f32;
  }
  .container > .menu > ul > li > a:hover{
    cursor: pointer;
    color: #fa6f32;
  }
  .donation-section-container {
    width: 100%;
    height: 1333px;
    margin: 0;
  }
  .donation-section {
    width: 600px;
    margin: auto;
    padding-bottom: 46px;
  }
  .donation-section > h3 {
    font-size: 24px;
  }
  .donation-section > p {
    margin-bottom: 30px;
  }
  .donation-section > h4 {
    margin-bottom: 30px;
  }

  .donation-section > .donation-amount {
    width: 100%;
    height: 918px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }
  .donation-section > .donation-amount > .weKnow {
    text-align: center;
  }
  .donation-amount > .donation-amount-panda {
    width: 90%;
  }
  .donation-amount > #amount {
    padding-left: 10px;
  }

  .donation-amount > .progressbar {
    width: 100%;
  }
  .donation-amount > .progressbar .forNone1000,
  .donation-amount-money .forNone1000 {
    display: none;
  }
  .donation-amount > .progressbar .forNone640,
  .donation-amount-money .forNone640 {
    display: none;
  }

  .donation-payment-container {
    margin-bottom: 0;
  }

  footer {
    width: 100%;
    height: 282px;
    position: relative;
    padding: 0;
  }
  footer > div.footer-top {
    width: 100%;
    padding: 13px 20px;
    margin: 0;
  }
  div.footer-top > .subscribe-submit {
    display: none;
  }

  footer > .footer-bottom {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 12px;
    padding-left: 20px;
    display: flex;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 5px;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer a {
    display: none;
  }
  footer > .footer-bottom > .footer-donate > ul.donate-footer > li > i {
    margin-bottom: 10px;
  }
  .footer-bottom > .footer-bottom-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 12px;
  }
  .footer-bottom-navbar > ul {
    padding: 0;
  }
  .footer-bottom-navbar > ul > li {
    padding: 0;
    margin-right: 37px;
  }
  .footer-bottom-navbar > ul > li > a {
    text-align: left;
  }
  .footer-bottom-navbar > ul > li > a > span {
    color: #fff;
  }

  .footer-bottom > .footer-designedby {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 12px;
    margin-right: 20px;
    padding-left: 0;
  }
}
